*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
:root{
  --brand-color:#EF5F4C;
  --background-color:#FFFFFF;
  --surface-color:#F5F5F5;
  --text-color-primary:#313131;
  --text-color-secondary:#6C6C6C;
}
body{
  background-color: var(--background-color);
  min-width: 200px;
}
#backlike{
  width: 100%;
  background-color: var(--surface-color);
}
nav{
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px 10px;
}
.logo{
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
}
.world{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}
#worldsvg{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: var(--brand-color);
  line-height: 160%;
  font-weight: bold;
  font-size: 20px;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:12px;
  max-width: 500px;
  margin-top: 12px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
.menu>*{
  display: block;
  width: 80px;
  text-align: center;
}
#search{
  display: flex;
}
#profi_cont{
  display: none;
  height: 40px;
}
.profile{
  width: 40px;
  
}

/* .menu{
  
  width: 200px;
  padding: 4px;
  
  
  gap: 4px;
  margin-top: 8px;
  margin: auto;
  gap:16px;
  padding-right: 24px;
}
.menu span{
  line-height: 150%;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
.menu span, #search,img{
  padding: 4px;
}
.profile{
  width: 40px;
} */

/* 
header{
  width: 1280px;
  margin: auto;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
}
section{
  display: flex;
}
#description{
  display: flex;
  gap: 32px;
}
#content{
  gap:8px;
  max-width: 384px;
}
#header_profile{
  width: 176px;
  height: 176px;
}
h1{
  color: var(--text-color-primary);
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
}
p{
  margin-top: 8px;
  line-height: 170%;
  font-size: 14px;
  color: var(--text-color-secondary);
  padding-right: 12px ;
}
ul{
  display: flex;
  flex-direction: column;
  list-style:none;
  padding-left: 0;
  gap: 16px;
  width: 280px;
}
li{
  display: flex;
  align-items: center;
  gap:8px;
}
li::before{
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
li:nth-child(1)::before{
  background-image: url("./assets/icons/MapPin.svg");
}
li:nth-child(2)::before{
  background-image: url("./assets/icons/AirplaneTilt.svg");
}
li:nth-child(3)::before{
  background-image: url("./assets/icons/Image.svg");
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:24px;
  max-width: 1280px;
  margin: auto;
  padding: 24px 32px;
}
main>img{
  width: 286px;
}
footer{
  max-width: 1280px;
  margin: auto;
  padding: 24px 32px;
  color: var(--text-color-secondary);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  gap:16px;
}
footer>span{
  line-height: 150%;
  font-size: 14px;
}
footer>div{
  display: flex;
  gap:16px;
  line-height: 150%;
  font-size: 14px;
}
  */

@media (min-width:350px) {
  .menu{
    margin: 0 20px;
  }
  #profi_cont{
    display: block;
  }
  #search{
    display: inline-block;
  }
}
@media (min-width:500px) {
  nav{
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 32px;
    margin: auto;
  }
  .logo{
    width: fit-content;
  }
  .menu{
    margin: 0;
    
  }
  .menu>*{
    width: fit-content;
  }

  .profile{
    width: 40px;
  }
}
