*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
:root{
  --brand-color:#EF5F4C;
  --background-color:#FFFFFF;
  --surface-color:#F5F5F5;
  --text-color-primary:#313131;
  --text-color-secondary:#6C6C6C;
}
body{
  background-color: var(--background-color);
  min-width: 200px;
}
#backlike{
  width: 100%;
  background-color: var(--surface-color);
}
nav{
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px 10px;
}
.logo{
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
}
.world{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}
#worldsvg{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: var(--brand-color);
  line-height: 160%;
  font-weight: bold;
  font-size: 20px;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:12px;
  max-width: 500px;
  margin-top: 22px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
.menu>*{
  display: block;
  width: 80px;
  text-align: center;
}
#search{
  display: flex;
}
#profi_cont{
  display: none;
  height: 40px;
}
.profile{
  width: 40px;
}
header{
  padding: 16px;
}
#description{
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;

}
#header_profile{
  max-width: 176px;
  max-height: 176px;
  margin: auto;
}
#content{
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap:8px
}
h1{
  color: var(--text-color-primary);
  font-weight: bold;
  font-size: 22px;
  line-height: 125%;
}
p{
  line-height: 170%;
  font-size: 12px;
  color: var(--text-color-secondary);
  max-width: 350px;
  margin: auto;
}

ul{
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  margin: auto;
  list-style:none;
  padding-left: 0;
  gap: 4px;
  width: fit-content;
}
#more_info{
  margin-top: 22px;
}
li{
  display: flex;
  align-items: center;
  gap:8px;
}
li::before{
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
li:nth-child(1)::before{
  background-image: url("./assets/icons/MapPin.svg");
}
li:nth-child(2)::before{
  background-image: url("./assets/icons/AirplaneTilt.svg");
}
li:nth-child(3)::before{
  background-image: url("./assets/icons/Image.svg");
}
main{
  display: flex;
  flex-wrap: wrap;
  padding:16px;
  justify-content: center;
  gap:8px;
  max-width: 1280px;
  margin: auto;
}
main>img{
  width: 64px;
}
/*
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:24px;
  max-width: 1280px;
  margin: auto;
  padding: 24px 32px;
}
main>img{
  width: 286px;
}*/
footer{
  max-width: 1280px;
  margin: auto;
  padding: 24px 32px;
  color: var(--text-color-secondary);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:16px;
  text-align: center;
}
footer>span{
  line-height: 150%;
  font-size: 14px;
}
footer>div{
  display: flex;
  gap:16px;
  line-height: 150%;
  font-size: 14px;
  flex-direction: column;
}


@media (min-width:350px) {
  .menu{
    margin: 0 20px;
  }
  #profi_cont{
    display: block;
  }
  #search{
    display: inline-block;
  }
  footer>div{
    flex-direction: row;
    justify-content: center;
  }

}
@media (min-width:400px) {
  ul{
    flex-direction: row;
    gap:18px;
  }
  main>img{
    width: 128px;
  }
}


@media (min-width:500px) {
  nav{
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 32px;
    margin: auto;
  }
  .logo{
    width: fit-content;
  }
  .menu{
    margin: 0;
    
  }
  .menu>*{
    width: fit-content;
  }

  .profile{
    width: 40px;
  }
  footer{
    flex-direction: row;
  }
}
@media (min-width:720px) {
  #description{
    flex-direction: row;
    justify-content: center;
    gap:18px
  }
  #header_profile,p, h1, #content{
    margin: 0;
  }
  #content{
    display: flex;
    justify-content:center;
    align-items: center;
  }
  main{
    gap: 16px;
  }
  main>img{
    width: 256px;
  }
}
@media (min-width:1020px){
  header{
   display: flex;
   justify-content:space-around;
   align-items: center;
   margin: auto;
   max-width: 1280px;
  }
  #description{
    margin: 0;
  }
  ul{
    flex-direction: column;
    width: 280px;
  }
  h1{
    font-size: 32px;
  }
  p{
    font-size: 14px;
  }
} 
